<nav>
  <div class="site-title">
    <a href="/"><h1>Node blog</h1></a>
    <p>A pet project of <a href="https://github.com/T-Damer">@T-DaMER</a></p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create new blog</a></li>
    <li><a href="/err404">404 page</a></li>
  </ul>
</nav>
