<html lang="en">
  <%- include('./partials/nav.ejs') %> <%- include('./partials/head.ejs') %>
  <body>
    <div>
      <h2>This is about page</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
