<html lang="en">
  <%- include('./partials/head.ejs') %> <%- include('./partials/nav.ejs') %>

  <body>
    <div>
      <h1>Oh no, page not found</h1>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
