<%- include('./partials/nav.ejs') %> <%- include('./partials/head'); -%>

<body>
  <div class="blogIcon">
    <img src="/blogIcon.png" alt="blogIcon" />
  </div>
  <div class="headings">
    <h3>By T_DaMER</h3>
    <a href="/blogs" class="btn">View blogs</a>
  </div>
</body>

<%- include('./partials/footer'); %>
